@import "common/icons";

@font-face {
  font-family: '#{$el-icon-font-family}';
  src:
    url('#{$el-icon-font-path}/#{$el-icon-font-family}.ttf?ddmlve') format('truetype'),
    url('#{$el-icon-font-path}/#{$el-icon-font-family}.woff?ddmlve') format('woff'),
    url('#{$el-icon-font-path}/#{$el-icon-font-family}.svg?ddmlve##{$el-icon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="el-icon-"], [class*=" el-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$el-icon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-error {
  &:before {
    content: $el-icon-error;     
    color: #cc3340;
  }
}
.el-icon-info {
  &:before {
    content: $el-icon-info;     
    color: #9a9ca5;
  }
}
.el-icon-success {
  &:before {
    content: $el-icon-success;     
    color: #00c583;
  }
}
.el-icon-warning {
  &:before {
    content: $el-icon-warning;     
    color: #dba211;
  }
}
.el-icon-x {
  &:before {
    content: $el-icon-x; 
  }
}
.el-icon-arrow-left {
  &:before {
    content: $el-icon-arrow-left; 
  }
}
.el-icon-circle-plus {
  &:before {
    content: $el-icon-circle-plus; 
  }
}
.el-icon-circle-plus-outline {
  &:before {
    content: $el-icon-circle-plus-outline; 
  }
}
.el-icon-arrow-down {
  &:before {
    content: $el-icon-arrow-down; 
  }
}
.el-icon-arrow-right {
  &:before {
    content: $el-icon-arrow-right; 
  }
}
.el-icon-arrow-up {
  &:before {
    content: $el-icon-arrow-up; 
  }
}
.el-icon-back {
  &:before {
    content: $el-icon-back; 
  }
}
.el-icon-circle-close {
  &:before {
    content: $el-icon-circle-close; 
  }
}
.el-icon-date {
  &:before {
    content: $el-icon-date; 
  }
}
.el-icon-circle-close-outline {
  &:before {
    content: $el-icon-circle-close-outline; 
  }
}
.el-icon-caret-left {
  &:before {
    content: $el-icon-caret-left; 
  }
}
.el-icon-caret-bottom {
  &:before {
    content: $el-icon-caret-bottom; 
  }
}
.el-icon-caret-top {
  &:before {
    content: $el-icon-caret-top; 
  }
}
.el-icon-upload {
  &:before {
    content: $el-icon-upload; 
  }
}
.el-icon-caret-right {
  &:before {
    content: $el-icon-caret-right; 
  }
}
.el-icon-close {
  &:before {
    content: $el-icon-close; 
  }
}
.el-icon-d-arrow-left {
  &:before {
    content: $el-icon-d-arrow-left; 
  }
}
.el-icon-check {
  &:before {
    content: $el-icon-check; 
  }
}
.el-icon-delete {
  &:before {
    content: $el-icon-delete; 
  }
}
.el-icon-d-arrow-right {
  &:before {
    content: $el-icon-d-arrow-right; 
  }
}
.el-icon-document {
  &:before {
    content: $el-icon-document; 
  }
}
.el-icon-d-caret {
  &:before {
    content: $el-icon-d-caret; 
  }
}
.el-icon-edit-outline {
  &:before {
    content: $el-icon-edit-outline; 
  }
}
.el-icon-download {
  &:before {
    content: $el-icon-download; 
  }
}
.el-icon-goods {
  &:before {
    content: $el-icon-goods; 
  }
}
.el-icon-search {
  &:before {
    content: $el-icon-search; 
  }
}
.el-icon-message {
  &:before {
    content: $el-icon-message; 
  }
}
.el-icon-edit {
  &:before {
    content: $el-icon-edit; 
  }
}
.el-icon-location {
  &:before {
    content: $el-icon-location; 
  }
}
.el-icon-loading {
  &:before {
    content: $el-icon-loading; 
  }
}
.el-icon-location-outline {
  &:before {
    content: $el-icon-location-outline; 
  }
}
.el-icon-menu {
  &:before {
    content: $el-icon-menu; 
  }
}
.el-icon-minus {
  &:before {
    content: $el-icon-minus; 
  }
}
.el-icon-bell {
  &:before {
    content: $el-icon-bell; 
  }
}
.el-icon-mobile-phone {
  &:before {
    content: $el-icon-mobile-phone; 
  }
}
.el-icon-news {
  &:before {
    content: $el-icon-news; 
  }
}
.el-icon-more-outline {
  &:before {
    content: $el-icon-more-outline; 
  }
}
.el-icon-phone {
  &:before {
    content: $el-icon-phone; 
  }
}
.el-icon-phone-outline {
  &:before {
    content: $el-icon-phone-outline; 
  }
}
.el-icon-picture {
  &:before {
    content: $el-icon-picture; 
  }
}
.el-icon-picture-outline {
  &:before {
    content: $el-icon-picture-outline; 
  }
}
.el-icon-plus {
  &:before {
    content: $el-icon-plus; 
  }
}
.el-icon-printer {
  &:before {
    content: $el-icon-printer; 
  }
}
.el-icon-sort-down {
  &:before {
    content: $el-icon-sort-down; 
  }
}
.el-icon-sort-up {
  &:before {
    content: $el-icon-sort-up; 
  }
}
.el-icon-rank {
  &:before {
    content: $el-icon-rank; 
  }
}
.el-icon-refresh {
  &:before {
    content: $el-icon-refresh; 
  }
}
.el-icon-question {
  &:before {
    content: $el-icon-question; 
  }
}
.el-icon-remove {
  &:before {
    content: $el-icon-remove; 
  }
}
.el-icon-share {
  &:before {
    content: $el-icon-share; 
  }
}
.el-icon-star-on {
  &:before {
    content: $el-icon-star-on; 
  }
}
.el-icon-setting {
  &:before {
    content: $el-icon-setting; 
  }
}
.el-icon-circle-check {
  &:before {
    content: $el-icon-circle-check; 
  }
}
.el-icon-service {
  &:before {
    content: $el-icon-service; 
  }
}
.el-icon-sold-out {
  &:before {
    content: $el-icon-sold-out; 
  }
}
.el-icon-remove-outline {
  &:before {
    content: $el-icon-remove-outline; 
  }
}
.el-icon-star-off {
  &:before {
    content: $el-icon-star-off; 
  }
}
.el-icon-circle-check-outline {
  &:before {
    content: $el-icon-circle-check-outline; 
  }
}
.el-icon-tickets {
  &:before {
    content: $el-icon-tickets; 
  }
}
.el-icon-sort {
  &:before {
    content: $el-icon-sort; 
  }
}
.el-icon-zoom-in {
  &:before {
    content: $el-icon-zoom-in; 
  }
}
.el-icon-time {
  &:before {
    content: $el-icon-time; 
  }
}
.el-icon-view {
  &:before {
    content: $el-icon-view; 
  }
}
.el-icon-upload2 {
  &:before {
    content: $el-icon-upload2; 
  }
}
.el-icon-zoom-out {
  &:before {
    content: $el-icon-zoom-out; 
  }
}
.el-icon-more {
  &:before {
    content: $el-icon-more; 
  }
}