$el-icon-font-family: "element-icons" !default;
$el-icon-font-path: "fonts" !default;

$el-icon-error: "\e900";
$el-icon-info: "\e901";
$el-icon-success: "\e902";
$el-icon-warning: "\e903";
$el-icon-x: "\78";
$el-icon-arrow-left: "\e600";
$el-icon-circle-plus: "\e601";
$el-icon-circle-plus-outline: "\e602";
$el-icon-arrow-down: "\e603";
$el-icon-arrow-right: "\e604";
$el-icon-arrow-up: "\e605";
$el-icon-back: "\e606";
$el-icon-circle-close: "\e607";
$el-icon-date: "\e608";
$el-icon-circle-close-outline: "\e609";
$el-icon-caret-left: "\e60a";
$el-icon-caret-bottom: "\e60b";
$el-icon-caret-top: "\e60c";
$el-icon-upload: "\e60d";
$el-icon-caret-right: "\e60e";
$el-icon-close: "\e60f";
$el-icon-d-arrow-left: "\e610";
$el-icon-check: "\e611";
$el-icon-delete: "\e612";
$el-icon-d-arrow-right: "\e613";
$el-icon-document: "\e614";
$el-icon-d-caret: "\e615";
$el-icon-edit-outline: "\e616";
$el-icon-download: "\e617";
$el-icon-goods: "\e618";
$el-icon-search: "\e619";
$el-icon-message: "\e61b";
$el-icon-edit: "\e61c";
$el-icon-location: "\e61d";
$el-icon-loading: "\e61e";
$el-icon-location-outline: "\e61f";
$el-icon-menu: "\e620";
$el-icon-minus: "\e621";
$el-icon-bell: "\e622";
$el-icon-mobile-phone: "\e624";
$el-icon-news: "\e625";
$el-icon-more-outline: "\e626";
$el-icon-phone: "\e627";
$el-icon-phone-outline: "\e628";
$el-icon-picture: "\e629";
$el-icon-picture-outline: "\e62a";
$el-icon-plus: "\e62b";
$el-icon-printer: "\e62f";
$el-icon-sort-down: "\e630";
$el-icon-sort-up: "\e631";
$el-icon-rank: "\e632";
$el-icon-refresh: "\e633";
$el-icon-question: "\e634";
$el-icon-remove: "\e635";
$el-icon-share: "\e636";
$el-icon-star-on: "\e637";
$el-icon-setting: "\e638";
$el-icon-circle-check: "\e639";
$el-icon-service: "\e63a";
$el-icon-sold-out: "\e63b";
$el-icon-remove-outline: "\e63c";
$el-icon-star-off: "\e63d";
$el-icon-circle-check-outline: "\e63e";
$el-icon-tickets: "\e63f";
$el-icon-sort: "\e640";
$el-icon-zoom-in: "\e641";
$el-icon-time: "\e642";
$el-icon-view: "\e643";
$el-icon-upload2: "\e644";
$el-icon-zoom-out: "\e645";
$el-icon-more: "\e646";

