$el-icon-font-family: "feather-icons" !default;
$el-icon-font-path: "fonts" !default;
$el-icon-svg-path: 'src/styles/theme/feather-icons' !default; 

$el-icon-activity: "\e900";
$el-icon-airplay: "\e901";
$el-icon-alert-circle: "\e902";
$el-icon-alert-octagon: "\e903";
$el-icon-alert-triangle: "\e904";
$el-icon-align-center: "\e905";
$el-icon-align-justify: "\e906";
$el-icon-align-left: "\e907";
$el-icon-align-right: "\e908";
$el-icon-anchor: "\e909";
$el-icon-aperture: "\e90a";
$el-icon-archive: "\e90b";
$el-icon-arrow-down-circle: "\e90c";
$el-icon-arrow-down-left: "\e90d";
$el-icon-arrow-down-right: "\e90e";
$el-icon-arrow-down: "\e90f";
$el-icon-arrow-left-circle: "\e910";
$el-icon-arrow-left: "\e911";
$el-icon-arrow-right-circle: "\e912";
$el-icon-arrow-right: "\e913";
$el-icon-arrow-up-circle: "\e914";
$el-icon-arrow-up-left: "\e915";
$el-icon-arrow-up-right: "\e916";
$el-icon-arrow-up: "\e917";
$el-icon-at-sign: "\e918";
$el-icon-award: "\e919";
$el-icon-bar-chart-2: "\e91a";
$el-icon-bar-chart: "\e91b";
$el-icon-battery-charging: "\e91c";
$el-icon-battery: "\e91d";
$el-icon-bell-off: "\e91e";
$el-icon-bell: "\e91f";
$el-icon-bluetooth: "\e920";
$el-icon-bold: "\e921";
$el-icon-book-open: "\e922";
$el-icon-book: "\e923";
$el-icon-bookmark: "\e924";
$el-icon-box: "\e925";
$el-icon-briefcase: "\e926";
$el-icon-calendar: "\e927";
$el-icon-camera-off: "\e928";
$el-icon-camera: "\e929";
$el-icon-cast: "\e92a";
$el-icon-check-circle: "\e92b";
$el-icon-check-square: "\e92c";
$el-icon-check: "\e92d";
$el-icon-chevron-down: "\e92e";
$el-icon-chevron-left: "\e92f";
$el-icon-chevron-right: "\e930";
$el-icon-chevron-up: "\e931";
$el-icon-chevrons-down: "\e932";
$el-icon-chevrons-left: "\e933";
$el-icon-chevrons-right: "\e934";
$el-icon-chevrons-up: "\e935";
$el-icon-chrome: "\e936";
$el-icon-circle: "\e937";
$el-icon-clipboard: "\e938";
$el-icon-clock: "\e939";
$el-icon-cloud-drizzle: "\e93a";
$el-icon-cloud-lightning: "\e93b";
$el-icon-cloud-off: "\e93c";
$el-icon-cloud-rain: "\e93d";
$el-icon-cloud-snow: "\e93e";
$el-icon-cloud: "\e93f";
$el-icon-code: "\e940";
$el-icon-codepen: "\e941";
$el-icon-command: "\e942";
$el-icon-compass: "\e943";
$el-icon-copy: "\e944";
$el-icon-corner-down-left: "\e945";
$el-icon-corner-down-right: "\e946";
$el-icon-corner-left-down: "\e947";
$el-icon-corner-left-up: "\e948";
$el-icon-corner-right-down: "\e949";
$el-icon-corner-right-up: "\e94a";
$el-icon-corner-up-left: "\e94b";
$el-icon-corner-up-right: "\e94c";
$el-icon-cpu: "\e94d";
$el-icon-credit-card: "\e94e";
$el-icon-crop: "\e94f";
$el-icon-crosshair: "\e950";
$el-icon-database: "\e951";
$el-icon-delete: "\e952";
$el-icon-disc: "\e953";
$el-icon-dollar-sign: "\e954";
$el-icon-download-cloud: "\e955";
$el-icon-download: "\e956";
$el-icon-droplet: "\e957";
$el-icon-edit-2: "\e958";
$el-icon-edit-3: "\e959";
$el-icon-edit: "\e95a";
$el-icon-external-link: "\e95b";
$el-icon-eye-off: "\e95c";
$el-icon-eye: "\e95d";
$el-icon-facebook: "\e95e";
$el-icon-fast-forward: "\e95f";
$el-icon-feather: "\e960";
$el-icon-file-minus: "\e961";
$el-icon-file-plus: "\e962";
$el-icon-file-text: "\e963";
$el-icon-file: "\e964";
$el-icon-film: "\e965";
$el-icon-filter: "\e966";
$el-icon-flag: "\e967";
$el-icon-folder-minus: "\e968";
$el-icon-folder-plus: "\e969";
$el-icon-folder: "\e96a";
$el-icon-gift: "\e96b";
$el-icon-git-branch: "\e96c";
$el-icon-git-commit: "\e96d";
$el-icon-git-merge: "\e96e";
$el-icon-git-pull-request: "\e96f";
$el-icon-github: "\e970";
$el-icon-gitlab: "\e971";
$el-icon-globe: "\e972";
$el-icon-grid: "\e973";
$el-icon-hard-drive: "\e974";
$el-icon-hash: "\e975";
$el-icon-headphones: "\e976";
$el-icon-heart: "\e977";
$el-icon-help-circle: "\e978";
$el-icon-home: "\e979";
$el-icon-image: "\e97a";
$el-icon-inbox: "\e97b";
$el-icon-info: "\e97c";
$el-icon-instagram: "\e97d";
$el-icon-italic: "\e97e";
$el-icon-layers: "\e97f";
$el-icon-layout: "\e980";
$el-icon-life-buoy: "\e981";
$el-icon-link-2: "\e982";
$el-icon-link: "\e983";
$el-icon-linkedin: "\e984";
$el-icon-list: "\e985";
$el-icon-loader: "\e986";
$el-icon-lock: "\e987";
$el-icon-log-in: "\e988";
$el-icon-log-out: "\e989";
$el-icon-mail: "\e98a";
$el-icon-map-pin: "\e98b";
$el-icon-map: "\e98c";
$el-icon-maximize-2: "\e98d";
$el-icon-maximize: "\e98e";
$el-icon-menu: "\e98f";
$el-icon-message-circle: "\e990";
$el-icon-message-square: "\e991";
$el-icon-mic-off: "\e992";
$el-icon-mic: "\e993";
$el-icon-minimize-2: "\e994";
$el-icon-minimize: "\e995";
$el-icon-minus-circle: "\e996";
$el-icon-minus-square: "\e997";
$el-icon-minus: "\e998";
$el-icon-monitor: "\e999";
$el-icon-moon: "\e99a";
$el-icon-more-horizontal: "\e99b";
$el-icon-more-vertical: "\e99c";
$el-icon-move: "\e99d";
$el-icon-music: "\e99e";
$el-icon-navigation-2: "\e99f";
$el-icon-navigation: "\e9a0";
$el-icon-octagon: "\e9a1";
$el-icon-package: "\e9a2";
$el-icon-paperclip: "\e9a3";
$el-icon-pause-circle: "\e9a4";
$el-icon-pause: "\e9a5";
$el-icon-percent: "\e9a6";
$el-icon-phone-call: "\e9a7";
$el-icon-phone-forwarded: "\e9a8";
$el-icon-phone-incoming: "\e9a9";
$el-icon-phone-missed: "\e9aa";
$el-icon-phone-off: "\e9ab";
$el-icon-phone-outgoing: "\e9ac";
$el-icon-phone: "\e9ad";
$el-icon-pie-chart: "\e9ae";
$el-icon-play-circle: "\e9af";
$el-icon-play: "\e9b0";
$el-icon-plus-circle: "\e9b1";
$el-icon-plus-square: "\e9b2";
$el-icon-plus: "\e9b3";
$el-icon-pocket: "\e9b4";
$el-icon-power: "\e9b5";
$el-icon-printer: "\e9b6";
$el-icon-radio: "\e9b7";
$el-icon-refresh-ccw: "\e9b8";
$el-icon-refresh-cw: "\e9b9";
$el-icon-repeat: "\e9ba";
$el-icon-rewind: "\e9bb";
$el-icon-rotate-ccw: "\e9bc";
$el-icon-rotate-cw: "\e9bd";
$el-icon-rss: "\e9be";
$el-icon-save: "\e9bf";
$el-icon-scissors: "\e9c0";
$el-icon-search: "\e9c1";
$el-icon-send: "\e9c2";
$el-icon-server: "\e9c3";
$el-icon-settings: "\e9c4";
$el-icon-share-2: "\e9c5";
$el-icon-share: "\e9c6";
$el-icon-shield-off: "\e9c7";
$el-icon-shield: "\e9c8";
$el-icon-shopping-bag: "\e9c9";
$el-icon-shopping-cart: "\e9ca";
$el-icon-shuffle: "\e9cb";
$el-icon-sidebar: "\e9cc";
$el-icon-skip-back: "\e9cd";
$el-icon-skip-forward: "\e9ce";
$el-icon-slack: "\e9cf";
$el-icon-slash: "\e9d0";
$el-icon-sliders: "\e9d1";
$el-icon-smartphone: "\e9d2";
$el-icon-speaker: "\e9d3";
$el-icon-square: "\e9d4";
$el-icon-star: "\e9d5";
$el-icon-stop-circle: "\e9d6";
$el-icon-sun: "\e9d7";
$el-icon-sunrise: "\e9d8";
$el-icon-sunset: "\e9d9";
$el-icon-tablet: "\e9da";
$el-icon-tag: "\e9db";
$el-icon-target: "\e9dc";
$el-icon-terminal: "\e9dd";
$el-icon-thermometer: "\e9de";
$el-icon-thumbs-down: "\e9df";
$el-icon-thumbs-up: "\e9e0";
$el-icon-toggle-left: "\e9e1";
$el-icon-toggle-right: "\e9e2";
$el-icon-trash-2: "\e9e3";
$el-icon-trash: "\e9e4";
$el-icon-trending-down: "\e9e5";
$el-icon-trending-up: "\e9e6";
$el-icon-triangle: "\e9e7";
$el-icon-truck: "\e9e8";
$el-icon-tv: "\e9e9";
$el-icon-twitter: "\e9ea";
$el-icon-type: "\e9eb";
$el-icon-umbrella: "\e9ec";
$el-icon-underline: "\e9ed";
$el-icon-unlock: "\e9ee";
$el-icon-upload-cloud: "\e9ef";
$el-icon-upload: "\e9f0";
$el-icon-user-check: "\e9f1";
$el-icon-user-minus: "\e9f2";
$el-icon-user-plus: "\e9f3";
$el-icon-user-x: "\e9f4";
$el-icon-user: "\e9f5";
$el-icon-users: "\e9f6";
$el-icon-video-off: "\e9f7";
$el-icon-video: "\e9f8";
$el-icon-voicemail: "\e9f9";
$el-icon-volume-1: "\e9fa";
$el-icon-volume-2: "\e9fb";
$el-icon-volume-x: "\e9fc";
$el-icon-volume: "\e9fd";
$el-icon-watch: "\e9fe";
$el-icon-wifi-off: "\e9ff";
$el-icon-wifi: "\ea00";
$el-icon-wind: "\ea01";
$el-icon-x-circle: "\ea02";
$el-icon-x-square: "\ea03";
$el-icon-x: "\ea04";
$el-icon-youtube: "\ea05";
$el-icon-zap-off: "\ea06";
$el-icon-zap: "\ea07";
$el-icon-zoom-in: "\ea08";
$el-icon-zoom-out: "\ea09";
$el-icon-alert: ''

